{%- assign social_icons = false -%}

{% if
  settings.social_twitter_link != blank
  or settings.social_facebook_link != blank
  or settings.social_pinterest_link != blank
  or settings.social_instagram_link != blank
  or settings.social_tumblr_link != blank
  or settings.social_snapchat_link != blank
  or settings.social_youtube_link != blank
  or settings.social_vimeo_link != blank
  or template.name == 'article'
  or template.name == 'blog'
%}
  {%- assign social_icons = true -%}
{% endif %}

<footer class="site-footer" role="contentinfo">

    <div class="footer__container">

        <div class="page-width">

            <div class="footer__container--menu-block-first">

                <h3 class="footer__container--menu-title">
                    {{ section.settings.footer-menu-title-first }}
                </h3>

                <div class="footer__container--menu-min-block">
                    <div class="footer_menu__container footer_menu__container--1">
                        {% if linklists[section.settings.footer_linklist].links.size > 0 %}
                            <ul class="site-footer__linklist{% unless section.settings.footer_newsletter_enable %} site-footer__linklist--center{% endunless %}">
                                <li class="site-footer__linklist-title">
                                    {{ linklists[section.settings.footer_linklist].title }}
                                </li>
                                {% for link in linklists[section.settings.footer_linklist].links %}
                                    <li class="site-footer__linklist-item">
                                        <a href="{{ link.url }}"{% if link.active %} aria-current="page"{% endif %}>{{ link.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>

                <div class="footer__container--menu-max-block">
                    <div class="footer_menu__container footer_menu__container--2">
                        {% if linklists[section.settings.footer_linklist_two].links.size > 0 %}
                            <ul class="site-footer__linklist{% unless section.settings.footer_newsletter_enable %} site-footer__linklist--center{% endunless %}">
                                <li class="site-footer__linklist-title">
                                    {{ linklists[section.settings.footer_linklist_two].title }}
                                </li>
                                {% for link in linklists[section.settings.footer_linklist_two].links %}
                                    <li class="site-footer__linklist-item">
                                        <a href="{{ link.url }}"{% if link.active %} aria-current="page"{% endif %}>{{ link.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <div class="footer_menu__container footer_menu__container--3">
                        {% if linklists[section.settings.footer_linklist_three].links.size > 0 %}
                            <ul class="site-footer__linklist{% unless section.settings.footer_newsletter_enable %} site-footer__linklist--center{% endunless %}">
                                <li class="site-footer__linklist-title">
                                    {{ linklists[section.settings.footer_linklist_three].title }}
                                </li>
                                {% for link in linklists[section.settings.footer_linklist_three].links %}
                                    <li class="site-footer__linklist-item">
                                        <a href="{{ link.url }}"{% if link.active %} aria-current="page"{% endif %}>{{ link.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <div class="footer_menu__container footer_menu__container--4">
                        {% if linklists[section.settings.footer_linklist_three].links.size > 0 %}
                            <ul class="site-footer__linklist{% unless section.settings.footer_newsletter_enable %} site-footer__linklist--center{% endunless %}">
                                <li class="site-footer__linklist-title">
                                    {{ linklists[section.settings.footer_linklist_four].title }}
                                </li>
                                {% for link in linklists[section.settings.footer_linklist_four].links %}
                                    <li class="site-footer__linklist-item">
                                        <a href="{{ link.url }}"{% if link.active %} aria-current="page"{% endif %}>{{ link.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>

            </div>

            <div class="footer__container--menu-block-second">

                <h3 class="footer__container--menu-title">
                    {{ section.settings.footer-menu-title-second }}
                </h3>

                <div class="footer_menu__container footer_menu__container--5">
                    {% if linklists[section.settings.footer_linklist_five].links.size > 0 %}
                        <ul class="site-footer__linklist{% unless section.settings.footer_newsletter_enable %} site-footer__linklist--center{% endunless %}">
                            <li class="site-footer__linklist-title">
                                {{ linklists[section.settings.footer_linklist_five].title }}
                            </li>
                            {% for link in linklists[section.settings.footer_linklist_five].links %}
                                <li class="site-footer__linklist-item">
                                    <a href="{{ link.url }}"{% if link.active %} aria-current="page"{% endif %}>{{ link.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>

            <div class="footer__container--menu-third">

                <h3 class="footer__container--menu-title">
                    {{ section.settings.footer-menu-title-third }}
                </h3>

                <div class="footer_menu__container footer_menu__container--6">
                    {% if linklists[section.settings.footer_linklist_six].links.size > 0 %}
                        <ul class="site-footer__linklist{% unless section.settings.footer_newsletter_enable %} site-footer__linklist--center{% endunless %}">
                            <li class="site-footer__linklist-title">
                                {{ linklists[section.settings.footer_linklist_six].title }}
                            </li>
                            {% for link in linklists[section.settings.footer_linklist_six].links %}
                                <li class="site-footer__linklist-item">
                                    <a href="{{ link.url }}"{% if link.active %} aria-current="page"{% endif %}>{{ link.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <div class="footer__container--social-icon">
                    {% if social_icons %}
                        <ul class="footer__social-icon-list">
                            {% if settings.social_facebook_link != blank %}
                                <li>
                                    <a class="social-icons__link" href="{{ settings.social_facebook_link | escape }}" aria-describedby="a11y-external-message">
                                        {% include 'icon-facebook' %}
                                        <span class="icon__fallback-text">Facebook</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if settings.social_twitter_link != blank %}
                                <li>
                                    <a class="social-icons__link" href="{{ settings.social_twitter_link | escape }}" aria-describedby="a11y-external-message">
                                        {% include 'icon-twitter' %}
                                        <span class="icon__fallback-text">Twitter</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if settings.social_pinterest_link != blank %}
                                <li>
                                    <a class="social-icons__link" href="{{ settings.social_pinterest_link | escape }}" aria-describedby="a11y-external-message">
                                        {% include 'icon-pinterest' %}
                                        <span class="icon__fallback-text">Pinterest</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if settings.social_instagram_link != blank %}
                                <li>
                                    <a class="social-icons__link" href="{{ settings.social_instagram_link | escape }}" aria-describedby="a11y-external-message">
                                        {% include 'icon-instagram' %}
                                        <span class="icon__fallback-text">Instagram</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if settings.social_tumblr_link != blank %}
                                <li>
                                    <a class="social-icons__link" href="{{ settings.social_tumblr_link | escape }}" aria-describedby="a11y-external-message">
                                        {% include 'icon-tumblr' %}
                                        <span class="icon__fallback-text">Tumblr</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if settings.social_snapchat_link != blank %}
                                <li>
                                    <a class="social-icons__link" href="{{ settings.social_snapchat_link | escape }}" aria-describedby="a11y-external-message">
                                        {% include 'icon-snapchat' %}
                                        <span class="icon__fallback-text">Snapchat</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if settings.social_youtube_link != blank %}
                                <li>
                                    <a class="social-icons__link" href="{{ settings.social_youtube_link | escape }}" aria-describedby="a11y-external-message">
                                        {% include 'icon-youtube' %}
                                        <span class="icon__fallback-text">YouTube</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if settings.social_vimeo_link != blank %}
                                <li>
                                    <a class="social-icons__link" href="{{ settings.social_vimeo_link | escape }}" aria-describedby="a11y-external-message">
                                        {% include 'icon-vimeo' %}
                                        <span class="icon__fallback-text">Vimeo</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if template.name == 'blog' or template.name == 'article' %}
                                <li>
                                    <a class="social-icons__link" href="{{ shop.url }}{{ blog.url }}.atom">
                                        {% include 'icon-rss' %}
                                        <span class="icon__fallback-text">RSS</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>

            </div>

        </div>

    </div>

</footer>

{% schema %}
    {
    "name": {
        "en": "Footer",
        "de": "Fußzeile",
        "fr": "Pied de page"
    },
    "settings": [
        {
            "type": "header",
            "content": "Footer menu"
        },
        {
            "type": "text",
            "id": "footer-menu-title-first",
            "label": "Title section menu"
        },
        {
            "type": "link_list",
            "id": "footer_linklist",
            "label": "Footer menu 1"
        },
        {
            "type": "link_list",
            "id": "footer_linklist_two",
            "label": "Footer menu 2"
        },
        {
            "type": "link_list",
            "id": "footer_linklist_three",
            "label": "Footer menu 3"
        },
        {
            "type": "link_list",
            "id": "footer_linklist_four",
            "label": "Footer menu 4"
        },
        {
            "type": "text",
            "id": "footer-menu-title-second",
            "label": "Title section menu"
        },
        {
            "type": "link_list",
            "id": "footer_linklist_five",
            "label": "Footer menu 5"
        },
        {
            "type": "text",
            "id": "footer-menu-title-third",
            "label": "Title section menu"
        },
        {
            "type": "link_list",
            "id": "footer_linklist_six",
            "label": "Footer menu 6"
        },
        {
            "type": "text",
            "id": "footer-menu-title-right",
            "label": "Title section menu"
        },
        {
            "type": "header",
            "content": "Footer social image"
        },
        {
            "type": "image_picker",
            "id": "footer-social-image-1",
            "label": "Footer social image 1"
        },
        {
            "type": "image_picker",
            "id": "footer-social-image-2",
            "label": "Footer social image 2"
        },
        {
            "type": "image_picker",
            "id": "footer-social-image-3",
            "label": "Footer social image 3"
        }
    ]
}
{% endschema %}