@mixin media-up($value) {
  @if $value != null {
    @media (min-width: $value) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-down($value) {
  @if $value != null {
    @media (max-width: $value) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-only($min, $max) {
  @if $min != null and $max != null {
    @media (min-width: $min) and (max-width: $max)  {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }
}
